<body>
  <div class="container mt-5">
    <div class="row">
      <!-- レシピカードのサンプル -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="recipe1.jpg" class="card-img-top" alt="Recipe 1">
          <div class="card-body">
            <h5 class="card-title">Recipe Title 1</h5>
            <p class="card-text">A brief description of Recipe 1. This should give an overview of the recipe.</p>
            <a href="/recipes/1" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="recipe2.jpg" class="card-img-top" alt="Recipe 2">
          <div class="card-body">
            <h5 class="card-title">Recipe Title 2</h5>
            <p class="card-text">A brief description of Recipe 2. This should give an overview of the recipe.</p>
            <a href="/recipes/2" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="recipe3.jpg" class="card-img-top" alt="Recipe 3">
          <div class="card-body">
            <h5 class="card-title">Recipe Title 3</h5>
            <p class="card-text">A brief description of Recipe 3. This should give an overview of the recipe.</p>
            <a href="/recipes/3" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
      <!-- 追加のレシピカードも同様に表示 -->
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>